.accelerator-button {
  color: #808080;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 5px;
}

.tooltip {
  position: relative;
  display: flex;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #222;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-left: -80px;
  margin-top: 32px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
